@import 'fonts.css';
@import 'preview.css';
@import 'describes.css';
@import 'steps.css';
@import "registering.css";
@import "platform.css";
@import "services.css";
@import "opportunities.css";
@import "rates.css";
@import "development.css";
@import "questions.css";
@import "problems.css";
@import "footer.css";
@import "review.css";



h1, h1, h3, h4, h5{
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}

img {
  pointer-events: none;
}

button {
  cursor: pointer;
}
ul{
  list-style: none;
}

input {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

.container-custom {
  max-width: 1460px;
  margin: 0 auto;
  box-sizing: border-box;
}
.container-title-custom {
  width: 100%;
  margin: 0 auto;
  padding-top: 110px;
  padding-bottom: 90px;
  text-align: center;
}

.container-title-custom h2 {
  font-family: 'GeometriaBold', sans-serif;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #1E3147;
}


.common-btn-md {
  background-color: #33A1FB;
  box-shadow: 0px 10px 15px -6px rgba(51, 161, 251, 0.5);
  border-radius: 29px;
  font-family: "GeometriaRegular", sans-serif ;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 20px;
  color: #fff;
  text-align: center;
  outline: none;
  border: none;
}
.common-btn-lg {
  background-color: #33A1FB;
  box-shadow: 0px 10px 15px -6px rgba(51, 161, 251, 0.5);
  border-radius: 29px;
  font-family: "GeometriaRegular", sans-serif ;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 18px 28px;
  color: #fff;
  text-align: center;
  outline: none;
  border: none;
}

.underline-btn {
  background-color: transparent;
  font-family: "GeometriaRegular", sans-serif ;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 2px 0;
  color: #33A1FB;
  border-bottom: 1px dashed #33A1FB;
  border-left: none;
  border-top: none;
  border-right: none;
  outline: none;
}

.dashed-circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.8;
  border: 1px dashed #1E3147;
}

.plus-icon  {
  position: absolute;
}
.plus-icon  .vertical{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

}
.plus-icon  .horizontal{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.circle-icon {
  position: absolute;
  border-radius: 50%;
}
.wr-common-bg {
  background-image: url("../media/platform/common_bg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}