.wr-rates{
    margin-top: 180px;
}
.wr-rates-common {
    background-color: #F8F9FC;
    border-radius: 66px;
    padding: 78px 149px 194px 149px;
    position: relative;
}
.wr-rates-select {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 22px 0;
    gap: 20px;
}
.wr-rates-select select {
    border-radius: 24px;
    background-color: #fff;
    border: none;
    outline: none;
    color: #33A1FB;
    font-family: "GeometriaMedium", sans-serif;
    font-size: 14px;
    padding: 10px 30px 10px 20px;
    appearance: none;
    box-shadow: 0 5px 6px 2px rgba(0,0,0,.04);
    position: relative;
    background-image: url('../media/rates/arrow_down.svg');
    background-position-x: calc(100% - 20px);
    background-position-y: 50%;
    background-repeat: no-repeat;
}

.wr-rates-select select option{
    border: none;
    outline: none;
    border-radius: 5px;
}
.rates-subtitle{
    font-family: "GeometriaRegular", sans-serif;
    font-size: 24px;
    color: #1E3147;
    text-align: center;
}
.wr-rates-columns{
    display: flex;
    margin-top: 52px;
}
.rates-title{
    font-family: "GeometriaBold", sans-serif;
    font-size: 48px;
    text-align: center;
    color: #1E3147;
}
.wr-rates-functions{
    margin-top: 175px;
}
.wr-rates-functions li{
    font-family: "GeometriaMedium", sans-serif;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #1E3147;
    padding: 13px 20px;
    min-width: 270px;
}
.wr-rates-functions li:nth-child(2n){
    background: #E4E8F4;
    border-radius: 8px 0 0 8px;
}
.rates-free-image{
    display: inline-flex;
    flex-direction: column;
}

.wr-rates-kinds ul{
    text-align: center;
}
.rates-free h4{
    font-family: "GeometriaMedium", sans-serif;
    font-size: 20px;
    letter-spacing: 0.01em;
    color: #1E3147;
    margin-top: 24px;
    padding: 5px 0;
    min-width: 196px;
}
.rates-price{
    font-family: "GeometriaBold", sans-serif;
    font-size: 30px;
    letter-spacing: 0.01em;
    color: #33A1FB;
    margin-top: 27px;
    padding: 4px;
}
.rates-time{
    font-family: "GeometriaRegular", sans-serif;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #788CA1;
}
.rates-oldprice{
    margin-top: 9px;
    font-family: "GeometriaRegular", sans-serif;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #788CA1;
    text-decoration: line-through;
}
.rates-free li{
    padding: 8px 0 6px 0;
    border-bottom: 1px solid#EBEFF2;
    max-width: 70px;
    text-align: center;
    margin: 0 auto;
}
.rates-kinds-list{
    display: flex;
    gap: 31px;
}
.rates-free{
    border: 2px solid #33A1FB;
    border-radius: 24px;
    background-color: #fff;
}
.rates-functions-text{
    font-family: "GeometriaMedium", sans-serif;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #1E3147;
    padding: 13.5px 0 12.5px ;
    border-bottom: 1px solid#EBEFF2;
    max-width: 70px;
    text-align: center;
    margin: 0 auto;
}
.rates-free button{
    background: #33A1FB;
    border-radius: 4px;
    font-family: "GeometriaBold", sans-serif;
    font-size: 16px;
    text-align: center;
    color: #F5F7F9;
    border: none;
    padding: 9px 16px 8px 15px;
    margin: 40px 0 48px;
}
.rates-time{
    font-family: "GeometriaRegular", sans-serif;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #788CA1;
}
.wr-rates-payment{
    background: #33A1FB;
    border-radius: 75px;
    font-family: "GeometriaBold", sans-serif;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    padding: 30px 57px 30px 324px;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    position: relative;
}
.wr-rates-payment img {
    position: absolute;
    left: 56px;
    top: 50%;
    transform: translateY(-100%);
}
.rates-free-one{
    border: 2px solid #ffffff;
}
.rates-free-premium{
    border: 2px solid #FED56D;
}
.rates-free-minibasic{
    position: relative;
}
.rates-free-minibasic:before{
    position: absolute;
    content: "-20%";
    font-family: "GeometriaMedium", sans-serif;
    font-size: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    padding: 5px 7px 4px 6px;
    background-color: #33A1FB;
    border-radius: 34px;
    top: -3%;
    left: 37%;
}
.rates-free-premium{
    position: relative;
}
.rates-free-premium:before{
    position: absolute;
    content: "-20%";
    font-family: "GeometriaMedium", sans-serif;
    font-size: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    padding: 5px 7px 4px 6px;
    background-color:#FED56D;
    border-radius: 34px;
    top: -3%;
    left: 37%;
}
.rates-free-free{
    color: #ffffff;
}
.rates-cactus {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(66%);
}
.rates-gmail {
    position: absolute;
    top: 10%;
    right: -6%;
    z-index: -1;
}

.wr-rates-dashed-circle {
    width: 56px;
    height: 56px;
    left: 0;
    bottom: 30%;
    transform: translateX(-50%);
}
.wr-rates-plus-bold {
    position: absolute;
    width: 27px;
    height: 27px;
    top: 50%;
    right: -18px;
    z-index: -1;
    transform: rotate(-14.61deg);
}
.wr-rates-plus-thin {
    position: absolute;
    width: 25px;
    height: 25px;
    left: -70px;
    top: 60px;
    transform: rotate(-45deg);
}
.wr-rates-plus-bold div, .wr-rates-plus-thin div{
    background-color: #33A1FB;
}
.wr-rates-plus-bold .wr-rates-plus-vertical {
    width: 4px;
    height: 27px;
}
.wr-rates-plus-bold .wr-rates-plus-horizontal {
    height: 4px;
    width: 27px;
}
.wr-rates-plus-thin .wr-rates-plus-vertical {
    width: 2px;
    height: 25px;
}
.wr-rates-plus-thin .wr-rates-plus-horizontal {
    height: 2px;
    width: 25px;
}